/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  position: relative;
}

.navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #f39c12;
}

/* .navbar-links li a:focus {
  outline: 2px solid #f39c12;
  border-radius: 4px;
} */

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Hidden by default on small screens */
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex; /* Display menu when open */
  }
}

.navbar-toggle {
  display: none; /* Hidden by default */
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}
